{
    "presets": [
        ["@babel/preset-react"],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
                },
                "useBuiltIns": "entry",
                "modules": false,
                "debug": true
            }
        ]

    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }],
        "@babel/plugin-transform-react-jsx",
        [
            "@babel/plugin-proposal-decorators", {
                "legacy": true
            }
        ],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-jsx"
    ]
}